@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    width: 100%;
    max-width: 1440px; /* limita el ancho a 1400px */
    margin: 0 auto; /* Centra el contenido*/
    align-items: center;
}

.encabezado{
    width: 100%; /* Ocupa el 100% del ancho del body */
    height: 6.94vw; /* Relaciona la altura con el ancho de la pantalla (7.14% del ancho) */
    max-height: 100px; /* Limita la altura máxima a 100px */
    background-color: #DDF4FF;
}

/* ESTILOS SECCION 1 */
.principal {
    background-color: #DDF4FF;
    width: 100%;
    height: 47.36vw; /* Relaciona la altura con el ancho de la pantalla (47.2% del ancho) */
    max-width: 1440px; /* limita el ancho a 1400px */
    max-height: 682px; /* limita el ancho a 1400px */
    display: flex; /* Activa el modo de diseño flexible */
    margin: 0 auto;
}

.left-column,
.right-column {
    flex: 1;
}

.left-column {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: flex-end; /* Alinea a la derecha el contenido */
    background-color: #DDF4FF; /* Ajusta según sea necesario */
    max-width: 720px; /* Ajusta según tus necesidades */
    width: 100%;
    max-height: 682px; /* Altura máxima */
    aspect-ratio: 682 / 700;
}

.content-left-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DDF4FF;
    max-width: 573px; /* Ajusta según tus necesidades */
    width: 100%;
    max-height: 386px; /* Altura máxima */
    aspect-ratio: 573 / 386;
}

h5{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #96BB7C;
}

.texto-h1{
    max-width: 542px; /* Ajusta según tus necesidades */
    width: 100%;
    max-height: 160px; /* Altura máxima */
    aspect-ratio: 160 / 542;
}

h1{
    font-size: 58px;
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
}

h4{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #737373;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.botones{
    display: flex;
    gap: 15px;
}

.boton-quote{
    max-width: 195px; /* Ajusta según tus necesidades */
    width: 100%;
    max-height: 52px; /* Altura máxima */
    aspect-ratio: 52 / 195;
    background-color: #96BB7C;

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #FFFFFF;

    border-radius: 5px;
    border-width: 0;
}

.boton-learn{
    max-width: 195px; /* Ajusta según tus necesidades */
    width: 100%;
    max-height: 52px; /* Altura máxima */
    aspect-ratio: 52 / 195;
    background-color: #DDF4FF;

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #96BB7C;

    border-radius: 5px;
    border-width: 2px;
    border-color: #96BB7C;
    border: solid;   
}

.right-column {
    display: flex;
    background-color: #DDF4FF; /* Ajusta según sea necesario */
    max-width: 720px; /* Ajusta según tus necesidades */
    width: 100%;
    max-height: 682px; /* Altura máxima */
    aspect-ratio: 682 / 720;
}

.imagen-contenido{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imagen-contenido img{
        width: 100%;
    height: auto;
    display: block;
}

/* ESTILOS SECCION 2 */

.estadisticas {
    width: 100%;
    height: 18.33vw; /* Relaciona la altura con el ancho de la pantalla (47.2% del ancho) */
    max-width: 1440px; /* limita el ancho a 1400px */
    max-height: 264px; /* limita el ancho a 1400px */
    display: flex; /* Activa el modo de diseño flexible */
    justify-content: center;
    margin: 0 auto;
}

.contenedor-columnas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.columna{
    width: 238px;
    height: 104px;
    aspect-ratio: 104 / 238;
}
.estadistica-1 {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
}

.metricas {
    color: #96BB7C;
    letter-spacing: 0.2px;
    font-size: 58px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.metricas-texto {
    color: #252B42
    letter-spacing: 0.2px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

/* ESTILOS SECCION 3 */

.calidad-educacion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF2F3;

    width: 100%;
    height: 50vw; /* Relaciona la altura con el ancho de la pantalla (47.2% del ancho) */
    max-width: 1440px; /* limita el ancho a 1400px */
    max-height: 720px; /* limita el ancho a 1400px */
}

.contenedor-educacion {
    display: flex;
    width: 100%;
    max-width: 1050px;
    max-height: 720px;
    flex-direction: column;
    padding: 80px 0;
}

.titulo-seccion {
    color: #252b42;
    letter-spacing: 0.2px;
    margin-top: 80px;
    font: 700 40px Montserrat, sans-serif;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    margin: 80px 0 48px;
}

.malla-tarjetas {
    display: flex;
    gap: 20px;
}

.tarjeta {
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    background-color: var(--light-background-color, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 35px 40px;
}

.icono {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 72px;
}

.titulo-ficha {
    color: #252b42;
    letter-spacing: 0.1px;
    margin-top: 20px;
    font: 700 16px/150% Montserrat, sans-serif;
}

.linea-roja {
    background-color: #e74040;
    margin-top: 20px;
    width: 50px;
    height: 2px;
}

.texto-tarjeta {
    color: #737373;
    letter-spacing: 0.2px;
    margin-top: 20px;
    font: 400 14px/20px Montserrat, sans-serif;
}